*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:15px 30px;
    font-size:17px;
    background: linear-gradient(135deg, #e3f2fd, #fce4ec);
    padding:8px;
}

.container{
    background-color:#f2f2f2;
    padding:5px 20px 15px 20px;
    margin: auto;
    max-width:1200px;
    border:1px solid lightgray;
    border-radius:4px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.section-box {
    background-color: #f2f2f2ef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section1-box {
    background-color: #4daea1;
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.row{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.col{
    flex:1;
    min-width: 250px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top: 8px;
    margin-bottom: 15px;
    transition: 0.3s ease;
    outline: none;
    background-color: #fafafa;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #4daea1;
    box-shadow: 0 0 6px rgba(77, 174, 161, 0.4);
    background-color: #fff;
}

fieldset{
    background-color:#fff;
    border:1px solid#664545;
    border-radius: 8px;
    padding: 15px;
}

.main_heading{
    text-align: center;
    font-size:50px;
    background-color: #4daea1;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

input[type="submit"]{
    background-color: #4daea1;
    color:  white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    transition: 0.3s ease;
}

input[type="submit"]:hover{
    background-color:#4daea1;
    transform: scale(1.02);
    box-shadow: 0 5px 12px rgba(237, 233, 233, 0.2);
}

textarea{
    width:100%;
    height:80px;
    resize: none;
}
 